<div class="tile is-child">
  <%= link_to new_inventory_path(parent_id: parent_id) do %>
    <div class="card">
      <div class="is-size-4 has-text-centered">
        +
      </div>
    </div>
  <% end %>
</div>
