<div class="tile is-ancestor">
  <div class="tile is-parent">
    <% @inventories.each do |inventory| %>
        <div class="tile is-child">
          <%= link_to inventory_path(inventory) do %>
            <div class="card">
              <div class="is-size-4 has-text-centered">
                <%= inventory.name %>
              </div>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
</div>
