<div class="columns">
  <div class="column is-narrow">
    <%= render :partial => 'menu', :locals => { inventories: @inventories } %>
  </div>

  <div class="column">
    <%= render 'welcome/splash' %>
  </div>
</div>
