
<div class="card">
  <div class="is-size-4 has-text-centered">
    <%= @inventory.name %>
  </div>
  <div class="is-size-4 has-text-centered">
    <%= link_to 'edit', edit_inventory_path %>
  </div>
</div>
