<div class="column is-4 is-offset-3">
  <div class="level">
    <h2 class="title level-left"><%= @inventory.name %>
      <%= link_to edit_inventory_path(@inventory), class: "button is-text" do %>
        <span class="icon">
          <i class="fas fa-edit"></i>
        </span>
      <% end %>
    </h2>
  </div>

  <% @inventory_items.each do |inventory_item| %>
    <div class="level">
      <%= link_to inventory_item.item.name,
        inventory_item_entries_path(inventory_item),
        class: "level-left" %>
    </div>
  <% end %>

</div>
