<% @inventory_items.each do |inventory_item| %>
  <div class="level">
    <%= link_to inventory_item.item.name,
      inventory_item_entries_path(inventory_item),
      class: "level-left" %>
  </div>
<% end %>

<div class="level">
  <%= link_to edit_inventory_path(@inventory), class: "button is-outlined has-text-grey" do %>
    <span class="icon">
      <i class="fas fa-edit"></i>
    </span>
  <% end %>
</div>
