

  <div class="level">
    <%= render partial: 'entry_table',
      locals: {entries: @entries, meta: @meta} %>
  </div>

  <div class="level">

    <%= link_to "+",
      new_inventory_item_entry_path(@inventory_item),
      class: "button"
    %>
  </div>
