<div class="columns">
  <div class="column is-8 is-offset-2">
    <div class="level">
      <h2 class="level-item title has-text-centered">
        <%= @inventory_item.item.name %>
      </h2>
    </div>

    <div class="level">
      <%= render partial: 'entry_table',
        locals: {entries: @entries, meta: @meta} %>
    </div>

    <div class="level">
      <div class="level-item">
        <%= link_to "+",
          new_inventory_item_entry_path(@inventory_item),
          class: "button"
        %>
      </div>
    </div>
  </div>
</div>
