<% if resource.errors.any? %>
<div class="level">
  <div class="level-item">
    <div id="error_explanation" class="notification is-danger">
      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  </div>

</div>

<% end %>
