<tr>

  <td><%= item.name %></td>

  <% @inventories.each do |inventory| %>
    <td>
        <% if @inventory_items[item.id] && @inventory_items[item.id][inventory.id] %>
          <%= @inventory_items[item.id][inventory.id] %>
        <% else %>
          <%= "na" %>
        <% end %>
    </td>
  <% end %>
</tr>
