

  <table class="table is-hoverable is-narrow">

    <%= render partial: 'table_head',
      locals: { inventories: @inventories } %>

    <tbody>
      <% @items.each do |item| %>
        <%= render partial: 'body_row',
          locals: { item: item  } %>
      <% end %>
    </tbody>

  </table>
