<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Keet Paratus
      </h1>
      <h2 class="subtitle">
        Get your Keet. Ready go.
      </h2>
    </div>
  </div>
</section>
