
<tr>
    <td>
      <%= link_to edit_item_path(item), class: "button is-text" do %>
        <%= item.name %>
      <% end %>
    </td>
    <% @inventories.each do |inventory| %>
      <td class="has-text-centered">
        <%= par_value(@inventory_items, inventory, item) %>
      </td>
    <% end %>

</tr>
