
<div class="level">
  <div class="level-item">
    <%= link_to '+', new_item_path, class: "button" %>
  </div>
</div>
<table class="table is-hoverable is-narrow">

  <%= render partial: 'table_head',
    locals: { inventories: @inventories } %>

  <tbody>
    <% @items.each do |item| %>
      <%= render partial: 'body_row',
        locals: { item: item  } %>
    <% end %>
  </tbody>

</table>
