
<table class="table">
  <thead>
    <tr>
        <th class="has-text-centered">
          <%= @category.name %> items
        </th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td class="has-text-centered">
          <%= item.name %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
