<% if object.errors.any? %>
  <div class="level">
    <div class="level-left">
      <div id="error_explanation" class="notification is-danger">
        <ul>
          <% object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
